@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
 background-image: linear-gradient(to bottom, #fffff7, #fceed5);
  height: auto !important;
}

body {
letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url(https://i.ibb.co/7j20z0H/5.png);
  background-size : 800px 800px;
  height: auto !important
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #4f36ac;
  border-right: none;
  border-bottom: none;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 205px;
  height: 60px;
  background: url('https://cdn.discordapp.com/attachments/877523173279686719/878528063552499732/-24.png') no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
	
	filter: grayscale(100%);
  opacity: 0.8;
}

/* 접속자수 */

#board-info #viewers-area #viewers:before {
  content: "뷰x단 ";
}

#board-info #viewers-area .fa-user:before {
 content: url(https://i.ibb.co/MZL6R1L/image.png);
}

#board-info #viewers-area #viewers:after {
 content: "명 빳빳해지는중";
}

#board-info #viewers-area:after {
 content: url(https://i.ibb.co/T2X6m7J/image.png);
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 3px solid #4f36ac;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #4f36ac;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #fddce7;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #4f36ac;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #4f36ac;
}

/* fa색상 */

header #header-bar .fa {
  color: #4f36ac;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #4f36ac;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #fddce7;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #fddce7;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #4f36ac;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #4f36ac;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #4f36ac;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #4f36ac;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4f36ac;
  border-color: #4f36ac;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #4f36ac;
}

.pagination>li>a,
.pagination>li>span {
  color: #4f36ac;
}

#article-content-wrapper>.header {
  border-top: 2px solid #4f36ac;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #4f36ac;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #4f36ac !important;
}

#article-reply-area>.header h5 {
  color: #4f36ac;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #4f36ac;
}

span.a-badge i.fa.fa-info-circle {
  color: #4f36ac;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #4f36ac !important;
}

/* 마우스 커서 포인터 */

html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
{
cursor: url(https://cdn.discordapp.com/attachments/877523173279686719/881467517174939688/1.png) 0 0, auto !important;
}

#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
cursor: url(https://cdn.discordapp.com/attachments/877523173279686719/881467521507659776/tngusl_cursor_2_.png) 0 0, auto !important;
}
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
{
cursor: url(https://cdn.discordapp.com/attachments/877523173279686719/881467521507659776/tngusl_cursor_2_.png) 0 0, auto !important;
}

#board-info #board-info-profile-img {
    width: 100px;
    border-radius: 50%;
    background-size: contain;
    border: none;
    content: url(https://cdn.discordapp.com/attachments/877523173279686719/881487167300464660/5535c59a-b39e-4648-8ed2-7f04b2044d21-profile_image-300x300.png);
    height: 100px;
	position: relative;
    top: +60%;

}
/* 프로필 위치 이동, 프로필 테두리 추가 시작 */

#board-info img{
float:left !important;
border: 2px SOLID #1721e6;

/* display: none; */

}

/* 프로필 위치 이동, 프로필 테두리 추가 끝 */